@font-face{
	font-family: 'Villeray-Light';
	font-size: normal;
	font-weight: normal;
	src: local('Villeray-Light'), url('Villeray-Light.woff') format('woff');
}
*{
	font-family: 'Villeray-Light';
}
.row{
	padding: 0 !important;
	margin: 0 !important;
}
section{
  	min-height: 65vh;
  	padding-top: 4em !important;
  	padding-bottom: 6em !important;
  }
.logo{
	width: 600px;
	margin:0 auto;
}
.fondo-1{
	background-image: url(../img/home.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin:0;
}
.row{
	width: 100%;
}
.transparente{
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	padding: 0;
}
.container-fluid{
	padding:0 !important;
}
#navegador{
	background-color: #BD1622 !important;

}
nav{
	margin: 0 auto !important;
}
nav ul li a, .menu-contacto a{
	/*margin: 5px 40px;*/
	color: white!important;
}
nav ul li a:hover, .menu-contacto:hover a{
	color:grey !important;
}
nav ul li, .menu-contacto{
	/*padding: 0 70px*/;
	font-size: 20px;
	padding: 5px 5px;
}
nav ul{
	width: 100%;
}
nav ul a span{
	float: right;
	text-decoration: none;
	color: white;
	font-size: 2em;
	margin: .6em;
}
nav ul a span:hover{
	color:grey;
}
.menu-contacto{
	position:absolute;
	right: 0;
	display: block;
	padding:15px;
}
.menu-contacto a{
	text-decoration: none;
}
.option {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: 1s;
}
.nosotrosParrafo{
	padding: .5em;
	text-align: center;
}
.nosotrosParrafo p{
	font-weight: bold;
	padding-bottom: 1.5em;
}/*
.nosotrosParrafo:first-child{
	margin-top:3em;
}*/
.serviciosTitulo{
	width: 100%;
	text-align: center;
	padding-bottom: 2em;
	padding-top: 1em;
}
.serviciosTextos, .serviciosSubTitulos{
	text-align: center;
}
.serviciosTextos{
	font-size: 18px;
	padding-bottom: 1em;
}
.servicios i{
	width:100%;
	text-align: center;
	font-size: 4em;
}
.servicios{
	text-align: center;
	background: url(../img/galpo.jpg),rgba(0,0,0,.7);
	background-blend-mode: darken;
	background-size: cover;
	padding-top: 6em;
	color:white;
}
.servicios .imagenes img{
	width: 100%;
}
.contacto{
	padding-top: 2em;
	background-image: url(../img/mantencion.jpg);
	background-size: cover;
	background-position:center;
	height: 30em;
	color: black;
	padding: 1em;
}
.contacto form h2{
	margin-bottom: 1em;
	margin-top: 1em;
}
.contacto h4{
	font-size: 1.6em;
	background-color: rgba(0,0,0,0.6);
	height: 14.5em;
	margin: 0;
	color: white;
	letter-spacing: 2px;
	padding-top: 3em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
footer{
	border-top:1px solid grey;
}
footer div{
	background-color:#313131;
	color: white;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	height: 17em;
}
footer img{
	width: 70%;	
}
footer ul{
	margin-top: 1.5em;
}
footer a{
	text-decoration: none;
	color:white;
}
footer a:hover{
	color:white;
}
footer ul li{
	list-style: none;
	font-size: 1em;
}
footer ul li:first-child{
	margin: .3em;
	margin-bottom: .5em;
	font-size: 1.2em;
}
/*Slide*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 2em;
  max-height: 60vh;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 60vh;
  left: 0;
  top: 0;
  background-size: cover;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  float: left;
  width: 100%;
  border: 0;
  margin:auto;
  }
  
  #slider2{
  	margin-top: 4em;
  }
  .proyectos{
  	padding-top: 3em;
  	margin-bottom: 10em;
  }
  .proyectos .proyecto{
  	padding: 0;
  	margin: 0;
  	width: 100%;
  }
  .proyectos .proyecto img{
  	width: 100%;
  	margin:0 auto;
  }
  .ElementoFixed {
  	position:fixed;
  	z-index:100;
  	top:0;
  	width: 100%;
  }
  #serv{
  	margin-top: 2em;
  }

/*proyectos*/
.proy .imagen{
	height: 40vh;
	background-size: cover;
	margin-bottom: 2em;
}
.proy .imagen:hover{
	background: rgba(0,0,0,.5);
	background-blend-mode: darken;
	-webkit-background-size: cover;
	cursor:pointer;
}
.proy .imagen h4{
	width: 80%;
	text-align: center;
	background-color: rgba(0,0,0,.8);
	color: white;
	position: absolute;
	margin-left:6%;
	margin-top: 30%;
	font-size: 1em;
	letter-spacing: 2px;
	padding: 10px;

}
.showimg{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.7);
	z-index: 150;
}
.showimg i{
	font-size: 2em;
	color:white;
	padding-top: 2em;
	text-decoration: none;
}
.showimg i:hover{
	cursor:pointer;
	color: grey;
}
.showimg .contenedor{
	min-width: 90%;
	position: fixed;
	height: 90vh;
	margin-left: 5%;
}
.showimg .foto{
	background-size: contain;
	width: auto;
	height: 90vh;
	background-position: center;
	background-repeat: no-repeat;
}
.showimg .foto h4{
	position: absolute;
	width: 100%;
	bottom:3px;
	margin: 0 auto;
	text-align: center;
	color:white;
	font-size: 2em;
}
.nosotros .rslides{
	margin-top: -1em;
}
@media all and (max-width: 767px){

	.navbar{
		position: fixed;
		top:0;
		width:100%;
		z-index: 100;
		background-color: white;
	}
	#navegador{
		position: absolute;
		top:3.5em;
		width: 100% !important;
	}
	header{
		padding-top: 3.5em;
	}
	footer{
		border:none;
		text-align: center;
	}
	footer h2, footer h3{
		font-size: 1.5em;
	}
	footer img{
		width: 100%;
	}
	.li-contacto{
		display: none;
	}
	section{
		padding-top: 0 !important;
	}
	.serviciosTitulo{
		padding: 1em;
	}
	.servicios .imagenes img{
		display:none;
	}
	.proyectos{
		margin-bottom: 0;
	}
	.showimg i{
		position: fixed;
		bottom:7%;
		left:46%;
		z-index: 1000;
		font-size: 3em;
	}
}