@font-face{
	font-family: 'Villeray-Light';
	font-size: normal;
	font-weight: normal;
	src: local('Villeray-Light'), url('Villeray-Light.woff') format('woff');
}
*{
	font-family: 'Villeray-Light';
}
section{
  	min-height: 65vh;
  	padding-top: 4em !important;
  	padding-bottom: 4em !important;
  }
.logo{
	width: 600px;
	margin:0 auto;
}
.fondo-1{
	background-image: url(../img/home.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin:0;
}
.row{
	width: 100%;
}
.transparente{
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	padding: 0;
}
.container-fluid{
	padding:0 !important;
}
#navegador{
	background-color: #BD1622 !important;

}
nav{
	margin: 0 auto !important;
}
nav ul li a, .menu-contacto a{
	/*margin: 5px 40px;*/
	color: white!important;
}
nav ul li a:hover, .menu-contacto:hover a{
	color:grey !important;
}
nav ul li, .menu-contacto{
	/*padding: 0 70px*/;
	font-size: 20px;
	padding: 5px 5px;
}
nav ul{
	width: 100%;
}
nav ul a span{
	float: right;
	text-decoration: none;
	color: white;
	font-size: 2em;
	margin: .6em;
}
nav ul a span:hover{
	color:grey;
}
.menu-contacto{
	position:absolute;
	right: 0;
	display: block;
	padding:15px;
}
.menu-contacto a{
	text-decoration: none;
}
.option {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: 1s;
}
.nosotros{
	margin-top: 3em;
}
.nosotrosTitulo{
	margin-top: 1.8em;
}	
.nosotrosParrafo{
	padding: .5em;
	text-align: center;
}
.nosotrosParrafo p{
	font-weight: bold;
	padding-bottom: 1.5em;
}
.serviciosTitulo{
	width: 100%;
	text-align: center;
	padding-bottom: 2em;
}
.serviciosTextos, .serviciosSubTitulos{
	text-align: center;
}
.serviciosTextos{
	font-size: 18px;
	padding-bottom: 4em;
}
.servicios i{
	width:100%;
	text-align: center;
	font-size: 4em;
}
.servicios{
	text-align: center;
	background: url(../img/galpon.JPG),rgba(255,255,255,.65);
	background-blend-mode: lighten;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 6em;
}
.contacto{
	margin-top: 2em;
	background-image: url(../img/mantencion.jpg);
	background-size: cover;
	background-position:center;
	height: 30em;
	color: black;
	padding: 1em;
}
.contacto form h2{
	margin-bottom: 1em;
	margin-top: 1em;
}
.contacto h4{
	font-size: 1.6em;
	background-color: rgba(0,0,0,0.6);
	height: 14.5em;
	margin: 0;
	color: white;
	letter-spacing: 2px;
	padding-top: 3em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
footer{
	border-top:1px solid white;
}
footer div{
	background-color:#313131;
	color: white;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	height: 17em;
}
footer img{
	width: 70%;	
}
footer ul{
	margin-top: 1.5em;
}
footer ul li{
	list-style: none;
	font-size: 1em;
}
footer ul li:first-child{
	margin: .3em;
	margin-bottom: .5em;
	font-size: 1.2em;
}
/*Slide*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 5em;
  max-height: 45vh;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  float: left;
  max-width: 100%;
  border: 0;
  }
  
  .proyectos{
  	margin-top: 3em;
  	padding-bottom: 7em;
  }
  .proyectos span{
	font-size: 3em;
	margin-top: 1em;
  }
  .proyectos .detalle-servicio{
	font-size: 1.2em;
	padding-top: 3em;
  }
  .proyecto-item{
  	padding: 1em;
  }
  .proyecto-item img{
  	width: 60%;
  	margin-left:20%;
  }
  .ElementoFixed {
  	position:fixed;
  	z-index:100;
  	top:0;
  	width: 100%;
  }
  #serv{
  	margin-top: 2em;
  }