@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jhbotu');
  src:  url('fonts/icomoon.eot?jhbotu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jhbotu') format('truetype'),
    url('fonts/icomoon.woff?jhbotu') format('woff'),
    url('fonts/icomoon.svg?jhbotu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
  content: "\e900";
}
.icon-google-with-circle:before {
  content: "\e901";
}
.icon-instagram-with-circle:before {
  content: "\e902";
}
.icon-linkedin-with-circle:before {
  content: "\e903";
}
.icon-twitter-with-circle:before {
  content: "\e904";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-build:before {
  content: "\e869";
}
.icon-domain:before {
  content: "\e7ee";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-home:before {
  content: "\e88a";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-whatsapp:before {
  content: "\ea93";
}

